backend/target/
*.log
*.md
.git/
../.gitignore
.idea/
.mvn/
mvnw
mvnw.cmd
README.md
HELP.md
**/node_modules/
**/npm-debug.log
**/.git
**/.svn
**/.DS_Store
**/target/**
**/docker/**
**/.classpath
**/.project
**/.settings/**
**/*.iml
**/*.ipr
**/*.iws
**/.idea/**
**/.vscode/