# Images
DB_IMAGE=mariadb:11
BACKEND_IMAGE=saileshk1103/cems_backend_backend
FRONTEND_IMAGE=saileshk1103/cems_backend_frontend

# Database
DB_NAME=cems
DB_PASSWORD=cems
DB_URL=jdbc:mariadb://db:3306/cems
DB_USERNAME=root
JWT_SECRET=F0GPizbHuE/xop0/o9ZSfAb8O6vLpmRa52bd0MhuvIA=
DB_PORT=3307

# Backend
JWT_SECRET=F0GPizbHuE/xop0/o9ZSfAb8O6vLpmRa52bd0MhuvIA=
BACKEND_PORT=8081

# Frontend
DISPLAY=host.docker.internal:0