.DS_Store
.idea
# IntelliJ build folder
out/
# Maven build folder
target/
# IntelliJ settings
.idea/
*.iml
*.env
frontend/src/main/java/com/cems/frontend/services/MockEventService.java
.env
sqldata
/.scannerwork
/backend/.scannerwork
