.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

/* Col styling */
.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 8 10 8 10;
}

.table-view .column-header .label {
    -fx-padding: 8 10 8 10;
    -fx-alignment: CENTER-LEFT;
}

.table-view .cell {
    -fx-border-color: transparent;
    -fx-padding: 8 10 8 10;
}

/* Row styling */
.table-view .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #e0e0e0 transparent;
    -fx-border-width: 0 0 1 0;
}

.table-view .table-row-cell:filled:selected {
    -fx-background-color: #F5EFFF;
    -fx-text-background-color: black;
}

/* subtle hover */
.table-view .table-row-cell:hover {
    -fx-background-color: #f8f8f8;
}

/* Hide empty rows */
.table-view .table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .table-row-cell:empty .table-cell {
    -fx-border-color: transparent;
}

/* Remove column drag highlight */


.table-view .column-drag-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .filler {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/* Column reorder overlay */
.table-view .column-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.05);
}

.table-view .column-header-background .nested-column-header,
.table-view .column-header-background .nested-column-header .column-header {
    -fx-background-color: transparent;
}

/* Hide scrollbar when not needed, style when visible */
.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 10px;
}

.table-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #bdbdbd;
}

/* Hide scroll bar arrows */
.table-view .scroll-bar .increment-button,
.table-view .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.node {
    -fx-border-color: transparent transparent transparent transparent;
    /*-fx-border-width: 0 2px 0 0;*/
}

.divider {
    -fx-border-color: transparent transparent #D9D9D9 transparent;
    -fx-border-width: 0 0 2px 0;
}


.nav-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-font-weight:bold;
    -fx-cursor:hand;
    -fx-text-fill: #4F46E5;
}