.enroll{
    -fx-background-color: #000;
    -fx-text-fill: #fff;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-cursor:hand;
    -fx-padding:  10 40;
    -fx-font-weight: bold;
    -fx-font-family: "Google Sans Bold";
}

.view-attendance{
    -fx-background-color: transparent;
    -fx-border-color: #000;
    -fx-text-fill: #000;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-cursor:hand;
    -fx-padding:  10 20;
    -fx-font-weight: bold;
    -fx-font-family: "Google Sans Bold";
}