.search-box {
    -fx-background-color: #fff;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: #dfdbdb;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.search-field {
    -fx-background-color: transparent;
    -fx-text-fill: #000;
    -fx-prompt-text-fill: #000;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 10 17 10 17;
}

.drop-down {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-prompt-text-fill: #000;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-width: 1;
    -fx-background-insets: 1;
    -fx-border-insets: 1;
}
