/* Define the font using @font-face */
@font-face {
    -fx-font-family: "Google Sans";
    src: url("../fonts/GoogleSans.ttf") format("truetype");
}

@font-face {
    -fx-font-family: "Google Sans Bold";
    src: url("../fonts/GoogleSans-Bold.ttf") format("truetype");
}

* {
    -fx-font-family: "Google Sans";
}