spring:
  application:
    name: cems_backend
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${DB_URL}
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  jackson:
    property-naming-strategy: SNAKE_CASE
jwt:
  secret: F0GPizbHuE/xop0/o9ZSfAb8O6vLpmRa52bd0MhuvIA=

